.header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }

  .header-logo {
    display: flex;
    align-items: center;
  }

  .header-logo img {
    width: 40px;
    margin-right: 10px;
  }

  .header-title {
    font-size: 30px;
    font-weight: bold;
    padding-right: 5px;
  }

  .powered-by {
    margin-top: 17px;
    font-size: 10px;
  }

.main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top: 50px;
}

.canvas{
    border: 2px solid black;
}

.top,.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.block,input,button,select{
    width: 80%;
}

.bottom>button, .top>.block{
    margin: 10px;
}

.block>p{
    margin: 10px auto;
    width: 50%;
}